<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955902871586-uihns86s461k4skcpaikj6j0b8rkqjs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955902871586-uihns86s461k4skcpaikj6j0b8rkqjs4</string>
	<key>API_KEY</key>
	<string>AIzaSyBYaQQ5lrnzJgPK6G0XI0L8_q7W9_g1TIs</string>
	<key>GCM_SENDER_ID</key>
	<string>955902871586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medlifeApp</string>
	<key>PROJECT_ID</key>
	<string>medlife-da560</string>
	<key>STORAGE_BUCKET</key>
	<string>medlife-da560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955902871586:ios:e197ff16051d7167b1227b</string>
</dict>
</plist>